<!DOCTYPE html>
<html>
<head>
   
   
    <title>{% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="{{url_for('about')}}">About</a>
        <a class="nav-link" href="{{url_for('product')}}">product</a>
        <a class="nav-link" href="{{url_for('checkout')}}">checkout</a>
        
      </nav>
    {% block content %}{% endblock %}
    
</body>
</html>